.container {
  width: 350px;
  height: 350px;
  border: 1px solid;
  border-radius: 15px;
  padding: 1rem;

  position: fixed;
  inset: 0 0 0 0;
  margin: auto;
  z-index: 15;
  background: white;
}

.btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
