.container {
  width: 100%;
  height: auto;

  margin-top: 1.5rem;
}

.form {
  display: flex;
  justify-content: center;
  position: relative;
}

.label {
  position: absolute;
  top: -25px;
  left: 120px;
  visibility: hidden;
}

.input {
  text-indent: 35px;
  width: 400px;
  height: 35px;
  border-radius: 20px;
}
